* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainSection {
    background-color: rgb(2, 2, 54);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: white;
    gap: 20px;
}

.mainSection .productContainer {
    height: 100%;
    width: 70%;
    background-color: pink;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.mainSection .productContainer .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.mainSection .productContainer .product .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.mainSection .productContainer .product .content-container{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 10px;
}

.mainSection .productContainer .product .content-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainSection .productContainer .product .content-container .content-one span{
    color: rgb(68, 68, 68);
}

.mainSection .productContainer .product .content-container .content-two button{
    border: none;
    padding: 10px;
    font-weight: 600;
    background: black;
    color: white;
    border-radius: 2px;
}


.mainSection .cart {
    height: 100%;
    width: 30%;
    background-color: pink;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainSection .cart .cart-item{
    display: flex;
    gap: 20px;
    background: white;
    color: black;
    border-radius: 15px;
}
.mainSection .cart .cart-item .cart-image{
    width: 25%;
}
.mainSection .cart .cart-item .cart-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.mainSection .cart .cart-item .cart-info{
  padding: 10px 7px;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainSection .cart .cart-item .cart-info .infoOne{
      display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mainSection .cart .cart-item .cart-info .infoTwo{
    display: flex;
    justify-content: space-between;
}

.mainSection .cart .cart-item .cart-info .infoThree{
    display: flex;
    font-size: larger;
    font-weight: 600;
}

.mainSection .cart .cart-item .cart-info .infoThree span{
    padding: 8px;
}
.mainSection .cart .cart-item .cart-info .infoThree button{
    background-color: rgba(128, 128, 128, 0.669);
    color: white;
    border: none;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}
