*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainSection {
    background-color: rgb(2, 2, 54);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: white;
    gap: 20px;
}

.mainSection .products{
    height: 100%;
    width: 70%;
    background-color: pink;
    border-radius: 20px;
    padding: 20px;
}

.mainSection .cart{
    height: 100%;
    width: 30%;
    background-color: pink;
    border-radius: 20px;
    padding: 20px;
}